/* Reset css */
*{
    margin:0;
    padding: 0;
    border: 0;
    outline: 0;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.carte-back{
    background: grey;
    width: calc(95% / 4);
    margin : 1%;
}